{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Método de Müller | Inicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

{#Barra de navegación#}
<nav class="navbar bg-dark border-bottom border-bottom-dark">
  <div class="container-fluid">
      <a class="navbar-brand text-light">Método de Müller</a>
      <span class="navbar-brand text-light" id="usernameToShow" data-username-logged></span>
      <form class="d-flex" role="search" method="POST">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" data-login-btn-nav>Iniciar sesión</button>
          <button type="button" class="btn btn-success ms-3" data-bs-toggle="modal" data-bs-target="#signupModal" data-signup-btn-nav>Registrarme</button>
      </form>
  </div>
</nav>

{#Petición de datos de la ecuación#}
<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col-3">
            <p class="fs-1">Datos</p>
            <form class="form-control p-4" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label for="getEquation" class="form-label">Ingrese la ecuación: </label>
                    <input type="text" class="form-control" id="getEquation" name="getEquation" placeholder="f(x)" required>
                </div>
                <div class="row">
                    <label for="getX0" class="form-label">Valor de X0: </label>
                    <input type="text" class="form-control" id="getX0" name="getX0" placeholder="x0"  required>
                </div>
                <div class="row">
                    <label for="getX1" class="form-label">Valor de X1: </label>
                    <input type="text" class="form-control" id="getX1" name="getX1" placeholder="x1"  required>
                </div>
                <div class="row">
                    <label for="getX2" class="form-label">Valor de X2: </label>
                    <input type="text" class="form-control" id="getX2" name="getX2" placeholder="x2"  required>
                </div>
                <div class="row">
                    <label for="getErrorMargin" class="form-label">Margen de error mínimo </label>
                    <input type="text" class="form-control" id="getErrorMargin" name="getMarginOfError" placeholder="x%"  required>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-info mt-4" name="findRoots" data-find-roots>Encontrar raíces</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="row">
                <img src="data:image/png;base64,{{ imagen }}">
            </div>
        </div>
        <div class="col">
            <div class="row">
                {% if logged == True %}
                    {% for column in data %}
                        {% if forloop.last %}
                            {% for row in column %}
                                {% if forloop.counter == 4 %}
                                    <p class=" fs-3">x = {{ row }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">i</th>
                            <th scope="col">x0</th>
                            <th scope="col">x1</th>
                            <th scope="col">x2</th>
                            <th scope="col">e</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in data %}
                            <tr>
                                {% for y in x %}
                                    <td>{{ y }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        {% for column in data %}
                            {% if forloop.last %}
                                {% for row in column %}
                                    {% if forloop.counter == 4 %}
                                        <p class=" fs-3">x = {{ row }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>


{#Footer#}
<div class="container-fluid mt-5 pt-5 text-center">
    <footer class="py-3">
        <div class="row">
          <div class="col">
            <h5>Desarrollado por: </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ulloa Serpas, Hugo Alexander - US21003</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vásquez Crespo, Ángel Gabriel - VC21007</a></li>
            </ul>
          </div>
            <div class="my-3 border-top text-center">
                <p>© 2023</p>
            </div>
        </div>
    </footer>
</div>

{#Modal: registrar usuario#}
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrate en Muller.com</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" class="form-control" name="username" placeholder="Ingresa tu nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="username">Correo:</label>
                <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="form-group">
                <label for="password">Repita su contraseña:</label>
                <input type="password" class="form-control" name="retypePassword" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="signupButton" data-signup-button>Registrarse</button>
            </div>
        </form>
          <div class="form-group">
          {% if messages %}
            <div class="alert alert-danger">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{#Modal: iniciar sesión#}
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inciar sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Nombre de usuario:</label>
              <input type="text" class="form-control" name="username" placeholder="Ingresa tu nombre de usuario" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col form-group">
                        <a href="#" data-bs-target="#recoverPassword" data-bs-toggle="modal">Olvidé mi contraseña</a>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" name="loginButton" data-login-button>Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </form>
          <div class="form-group">
          {% if messages %}
            <div class="alert alert-danger">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{#Modal: recuperar Contraseña#}
<div class="modal fade" id="recoverPassword" aria-hidden="true" aria-labelledby="recoverPassword" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="recoverPassword">Recuperación de Contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Correo electrónico:</label>
              <input type="text" class="form-control" name="email" placeholder="Ingresa tu nombre de usuario" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña" id="passwordInput" required>
            </div>
            <div class="form-group">
              <label for="password">Repite tu contraseña:</label>
              <input type="password" class="form-control" name="retypedPassword" placeholder="Ingresa tu contraseña" id="retypePasswordInput" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="recoverPassButton" data-login-button>Recuperar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/snippets.js' %}" defer></script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
</body>
</html>
{% endblock %}
