{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

{#Barra de navegación#}
<nav class="navbar bg-dark border-bottom border-bottom-dark">
  <div class="container-fluid">
      <a class="navbar-brand text-light">Método de Müller</a>
      <span class="navbar-brand text-light" id="usernameToShow" data-username-logged>Bienvenido, {{ username }}</span>
      <form class="d-flex" role="search" method="POST">
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userProfile">Mi perfil</button>
          <a href="http://127.0.0.1:8000/" class="btn btn-outline-danger ms-3">Cerrar sesión</a>
      </form>
  </div>
</nav>

{#Petición de datos de la ecuación#}
<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col-3">
            <p class="fs-1">Datos</p>
            <form class="form-control p-4" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label for="getEquation" class="form-label">Ingrese la ecuación: </label>
                    <input type="text" class="form-control" id="getEquation" name="getEquation" placeholder="f(x)">
                </div>
                <div class="row">
                    <label for="getX0" class="form-label">Valor de X0: </label>
                    <input type="text" class="form-control" id="getX0" name="getX0" placeholder="x0">
                </div>
                <div class="row">
                    <label for="getX1" class="form-label">Valor de X1: </label>
                    <input type="text" class="form-control" id="getX1" name="getX1" placeholder="x1">
                </div>
                <div class="row">
                    <label for="getX2" class="form-label">Valor de X2: </label>
                    <input type="text" class="form-control" id="getX2" name="getX2" placeholder="x2">
                </div>
                <div class="row">
                    <label for="getErrorMargin" class="form-label">Margen de error mínimo </label>
                    <input type="text" class="form-control" id="getErrorMargin" name="getMarginOfError" placeholder="x%">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-info mt-4" name="findRoots">Encontrar raíces</button>
                </div>
            </form>
        </div>
        <div class="col-6 d-none">
            <div class="row">
                <p class="fs-1">Gráfica de la función</p>
                <img class="img-thumbnail" src="">
            </div>
        </div>
        <div class="col-3 d-none">
            <p class="fs-1">Resultados</p>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th scope="col">Iteración</th>
                            <th scope="col">X0</th>
                            <th scope="col">X1</th>
                            <th scope="col">X2</th>
                            <th scope="col">X3</th>
                            <th scope="col">E%</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr><tr>
                            <th scope="row">3</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr><tr>
                            <th scope="row">6</th>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>0.00000</td>
                            <td>100%</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col">
                    <p class="fs-1">Valor final de x:</p>
                    <p class="fs-5">X = 0</p>
                </div>
            </div>
        </div>
    </div>
</div>

{#Footer#}
<div class="container-fluid mt-5 text-center">
    <footer class="py-3">
        <div class="row">
          <div class="col">
            <h5>Desarrollado por: </h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ulloa Serpas, Hugo Alexander - US21003</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vásquez Crespo, Ángel Gabriel - VC21007</a></li>
            </ul>
          </div>
            <div class="my-3 border-top text-center">
                <p>© 2023</p>
            </div>
        </div>
    </footer>
</div>

<!-- Modal: perfil de usuario-->
<div class="modal fade" id="userProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mi perfil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'muller' username password %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Nombre de usuario:</label>
              <input type="text" class="form-control" name="username" value="{{ username }}" data-username-login>
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" name="password" value="{{ password }}" data-password-login>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/snippets.js' %}" defer></script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
</body>
</html>
{% endblock %}
