{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .messages {
              margin-bottom: 10px;
            }

            .alert {
              padding: 10px;
              border: 1px solid;
              border-radius: 4px;
            }

            .alert.success {
              color: green;
              background-color: lightgreen;
            }

            .alert.error {
              color: red;
              background-color: lightcoral;
            }
    </style>
</head>
<body>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrarme</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <h1>Registro</h1>
    <form method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
      </div>
      <div class="form-group">
        <label for="password">Repita su contraseña:</label>
        <input type="password" class="form-control" id="retypePassword" name="retypePassword" placeholder="Ingresa tu contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>

{#  Verificar si hay errores: #}
{% if messages %}
  <div class="messages">
{#  Recorrer mensajes disponibles: #}
    {% for message in messages %}
      <div class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="submit" class="d-none">Registrarse</button>
      </div>
    {% endfor %}
  </div>
{% endif %}

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
{% endblock %}