{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <div class="container">
    <h1>Registro</h1>
    <form method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
      </div>
      <div class="form-group">
        <label for="password">Repita su contraseña:</label>
        <input type="password" class="form-control" id="retypePassword" name="retypePassword" placeholder="Ingresa tu contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
{% endblock %}